[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "config/base16-gnome-terminal"]
	path = config/base16-gnome-terminal
	url = git@github.com:aaron-williamson/base16-gnome-terminal.git
